body {
    color: black;
    margin: 120px;
    padding: 0;
    background-image: url("../img/TT12B-W_Website_2500x2500_Main_grand.webp");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 50px; 
}

.timer-page{
    margin: 200px;
    margin-top: 290px;
    margin-left: 350px; /* Centering the timer-page horizontally */
    margin-right: auto; /* Centering the timer-page horizontally */
    padding: 50px;
    background-color: aquamarine;
    width: 500px; 
}

.timer-page h1{
    font-size: 58px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}

.buttons {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.buttons button{
    width: 200px;
    height: 60px;
    border-radius: 25px;
}

.btn-1{
    background-color: green;
    opacity: 1;
}

.btn-2{
    background-color: yellow;
}

.btn-3{
    background-color: red;
}
.time img{
    width: 100px;
    height: 50px;
}
